{% extends "base.html" %}
{% block content %}

<h2>Fuel Report</h2>

<form method="get" class="form-box">
    <label>From Date</label>
    <input type="date" name="from" value="{{f}}" required>

    <label>To Date</label>
    <input type="date" name="to" value="{{t}}" required>

    <button type="submit">Filter</button>
</form>

<table>
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Vehicle</th>
        <th>Fuel</th>
        <th>Litres</th>
        <th>Remarks</th>
    </tr>
    {% for r in data %}
    <tr>
        <td>{{r.date}}</td>
        <td>{{r.type}}</td>
        <td>{{r.vehicle_no or '-'}}</td>
        <td>{{r.fuel}}</td>
        <td>{{r.litres}}</td>
        <td>{{r.remarks}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
